<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="static/css/bootstrap.min.css">

        <title>STC</title>
    </head>
    <body>

        <table class="table">
            <nav class="navbar navbar-dark bg-dark" aria-label="First navbar example">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#">STC</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                </div>
            </nav>

            <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Config</th>
                  <th scope="col">Comment</th>
                  <th scope="col">User</th>
                  <th scope="col">Start used</th>
                </tr>
            </thead>

            {% for element in elements %}
                <tbody>
                    <tr>
                      <th scope="row" style="width: 2%;">{{ element.id }}</th>
                      <td style="width: 20%">
                          <span id="text_name_span_{{ element.id }}">
                              {{ element.name }}
                          </span>
                          <div id="edit_name_input_span_{{ element.id }}" style="display: none" class="input-group-sm">
                              <input type="text" id="edit_name_input_{{ element.id }}" class="form-control">
                          </div>
                      </td>
                      <td style="width: 20%;">
                        <span id="text_config_span_{{ element.id }}">
                            {{ element.config }}
                        </span>
                        <div id="edit_config_input_span_{{ element.id }}" style="display: none" class="input-group-sm">
                            <input type="text" id="edit_config_input_{{ element.id }}" class="form-control">
                        </div>
                    </td>
                      <td style="width: 20%;">
                          <span id="text_comment_span_{{ element.id }}">
                              {{ element.comment }}
                          </span>
                          <div id="edit_comment_input_span_{{ element.id }}" style="display: none" class="input-group-sm">
                            <input type="text" id="edit_comment_input_{{ element.id }}" class="form-control">
                          </div>
                      </td>                      
                      <td style="width: 10%;">{{ element.user }}</td>
                      <td style="width: 10%">{{ element.timestamp }}</td>
                        <td style="width: 10%">
                            <button type="button" class="btn btn-sm" id="btn_edit_{{ element.id }}">
                                <img src="static/svg/edit.svg" width="16px" height="16px">
                            </button>
                            <button type="button" class="btn btn-danger btn-sm" id="btn_cancel_{{ element.id }}" style="display: none">
                                <img src="static/svg/cancel.svg" width="12px" height="12px">
                            </button>
                            <button type="button" class="btn btn-success btn-sm" id="btn_ok_{{ element.id }}" style="display: none">
                                <img src="static/svg/ok.svg" width="12px" height="12px">
                            </button>
                            <button type="button" class="btn btn-sm" id="btn_remove_{{ element.id }}">
                                <img src="static/svg/trash.svg" width="16px">
                            </button>
                        </td>
                    </tr>
                </tbody>
            {% endfor %}
        </table>

        <div class="container-fluid">
            <form id="test">
                <div class="row my-2">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Ip" name="name">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Config" name="config">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Comment" name="comment">
                    </div>
                    <div class="col">
                        <button type="submit" formmethod="post" formaction="/add" class="btn btn-secondary">Add</button>
                    </div>
                </div>
            </form>

            {% if messages %}
            <h6>{{ messages }}</h6>
            {% endif %}

        </div>

        <!-- Modal -->
        <div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="removeModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="removeModalLabel">Удаление устройства</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="removeModal_body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                        <button type="button" class="btn btn-danger" id="removeModal_btnRemove">Удалить</button>
                    </div>
                </div>
            </div>
        </div>


        <script src="static/js/jquery-3.2.1.slim.min.js"></script>
        <script src="static/js/popper.min.js"></script>
        <script src="static/js/bootstrap.min.js"></script>

        <script src="static/js/tools.js"></script>
        <script src="static/js/editing-fields.js"></script>
        <script src="static/js/removing-rows.js"></script>

    </body>
</html>